/* Button link with full dynamic size of container */
.btn-link {
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    /* Screen header left*/

/* Arrow */

/* Structure */
.arrow-left {
    width: 30%;
    height: 100%;
}

/* Skin */
.arrow-left {
    font-size: 1rem;
    color: white;
}

/* profile picture */

/* Structure */
.profile-pic {     
    width: 70%;
    height: 100%;
}

/* Skin */
.profile-pic {
    font-size: 2.5rem;
}

    /* Screen header middle */

/* shared */
.name-container, .last-seen-container {
    height: 50%;
    width: 100%;
}

/* structure */
.name-container {
    
}

/* skin */
.name-container {
    
}

/* Structure */
.last-seen-container {
    
}

/* Skin */
.last-seen-container {
    font-size: .8rem;
    opacity: 70%;
}
    /* Screen header right */

/* Shared */
.phone-icon, .paper-clip-icon, .drop-down-icon {
    width: 33%;
    height: 100%;
}

/* structure */
.phone-icon {
    
}

/* skin */
.phone-icon {

}

/* structure */
.paper-clip-icon {

}

/* skin */
.paper-clip-icon {

}

/* structure */
.drop-down-icon {

}

/* skin */
.drop-down-icon {

}

/* ------------------------------------------------- */
/* Body */

/* structure */
.msg-text {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* skin */
.msg-text {
    
}
/* structure */
.msg-time{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* skin */
.msg-time{

}

/* Shared */
.emoji-button-icon, .send-msg-container, .camera-container {
    height: 100%;
}

.emoji-button-icon {
    width: 10%;
    text-align: center;
}

.emoji-button-icon {
    font-size: 1.8rem;
}

.send-msg-container {
    width: 75%;
    padding-top: 2vh;
}

.send-msg-container {

}

.camera-container {
    width: 15%;
    text-align: center;
}

.camera-container {
    font-size: 2rem;
}

#user-input {
    width: 100%;
    height: 5vh;
}

.emoji-button-icon, .camera-container {
    padding-top: 2.5vh;
}