/* Button link with full dynamic size of container */
.btn-link {
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    /* Screen header left*/

/* Structure for arrow icon */
.arrow-left {
    width: 30%;
    height: 100%;
}

/* Skin for arrow image pic */
.arrow-left {
    font-size: 1rem;
    color: white;
}

/* Structure for profile pic div */
.profile-pic {     
    width: 70%;
    height: 100%;
}

/* Skin for profile pic div */
.profile-pic {
    font-size: 2.5rem;
}

    /* Screen header middle */

/* structure */
.name-container {
    height: 50%;
    width: 100%;
}

/* skin */
.name-container {
    
}

/* Structure */
.last-seen-container {
    height: 50%;
    width: 100%;
}

/* Skin */
.last-seen-container {
    font-size: .5rem;
}
    /* Screen header right */

/* Shared */
.phone-icon, .paper-clip-icon, .drop-down-icon {
    width: 33%;
    height: 100%;
}

/* structure */
.phone-icon {
    
}

/* skin */
.phone-icon {

}

/* structure */
.paper-clip-icon {

}

/* skin */
.paper-clip-icon {

}

/* structure */
.drop-down-icon {

}

/* skin */
.drop-down-icon {

}

/* ------------------------------------------------- */
/* Body */

/* structure */
.msg-text {

}

/* skin */
.msg-text {

}
/* structure */
.msg-time{

}

/* skin */
.msg-time{

}
