/* Modules aka actual objects built up of elements
in the globals file */

    /* Enter Button */

/* Structure */
.enter-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Skin */
.enter-btn {
    background: none;
    font-weight: bold;
    font-size: 3rem;
    color: blueviolet;
}

/* State */
.enter-btn:hover {
    background-color: aliceblue;
    cursor: pointer;
}

    /* Screen */

/* Shared width between each screen component */
.screen-header, .screen-body, .screen-bottom {
    width: 100%;
}

/* Shared height of header and bottom */
.screen-header, .screen-bottom {
    height: 10vh;
}

    /* Screen header */

/* Structure */
.screen-header {

}

/* Skin */
.screen-header {
    background-color: var(--whatsapp-dark);
}

    /* Left of the screen header */

/* Structure */
.screen-header-left {

}

/* Skin */
.screen-header-left {

}

    /* Center of the screen header*/

/* Structure */
.screen-header-middle {

}

/* Skin */
.screen-header-middle {

}

    /* Right of the screen header */

/* Structure */
.screen-header-right {

}

/* Skin */
.screen-header-right {

}

    /* Screen body */

/* Structure for Screen body */
.screen-body {
    height: 60vh;
}

/* Skin for Screen body */
.screen-body {
    background-color: white;
}

    /* Screen body */

/* Structure for Screen bottom */
.screen-bottom {

}

/* Skin for Screen bottom */
.screen-bottom {
    background-color: blue;
}