/* Modules aka actual objects built up of elements
in the globals file */

/* Structure for enter button */
.enter-btn {
    height: 50vh;
    width: 50%;
    margin: 25vh 25vw;
    position: absolute;
}

/* Skin for enter button */
.enter-btn {
    background-color: var(--clickable);
    border: .5rem solid black;
    font-weight: bold;
    font-size: 2rem;
}

/* State for enter button */
.enter-btn:hover {
    background-color: aliceblue;
    cursor: pointer;
}

/* chat-bot.html */

/* Structure for screen container */
.screen-container {
    height: 80vh;
    width: 50%;
    margin: 10vh 25vw;
    position: absolute;
}

/* Skin for Screen container */
.screen-container {
    background-color: var(--clickable);
    border: .5rem solid black;
}

/* Shared width between each screen component */
.screen-header, .screen-body, .screen-bottom {
    width: 100%;
}

/* Shared height of header and bottom */
.screen-header, .screen-bottom {
    height: 10vh;
}

/* Structure for Screen header */
.screen-header {

}

/* Skin for Screen header */
.screen-header {
    background-color: var(--whatsapp-dark);
}

/* Structure for Screen body */
.screen-body {
    height: 60vh;
}

/* Skin for Screen body */
.screen-body {
    background-color: white;
}

/* Structure for Screen bottom */
.screen-bottom {

}

/* Skin for Screen bottom */
.screen-bottom {
    background-color: blue;
}