/* Modules aka actual objects built up of elements
in the globals file */

    /* Enter Button */

/* Structure */
.enter-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Skin */
.enter-btn {
    background: none;
    font-weight: bold;
    font-size: 3rem;
    color: blueviolet;
}

/* State */
.enter-btn:hover {
    background-color: aliceblue;
    cursor: pointer;
}

    /* Screen */

/* Shared width between each screen component */
.screen-header, .screen-body, .screen-bottom {
    width: 100%;
}

/* Shared height of header and bottom */
.screen-header, .screen-bottom {
    height: 10vh;
}

    /* Screen header */

/* Structure */
.screen-header {
    display: flex;  /* Necessary */
    text-align: center;
}

/* Skin */
.screen-header {
    background-color: var(--whatsapp-dark);
    color: var(--icon-color);
}

    /* Left of the screen header */

/* shared */
.screen-header-left, .screen-header-middle, .screen-header-right {
    height: 100%;
}

/* Structure */
.screen-header-left {
    width: 20%;
    display: flex;
    text-align: center;
    padding: 2.5vh 0vh;
}

/* Skin */
.screen-header-left {
    color: white;
}

    /* Center of the screen header*/

/* Structure */
.screen-header-middle {
    width: 45%;
    padding-top: 1.3vh;
}

/* Skin */
.screen-header-middle {
    font-size: 1.5rem;
    font-weight: bold;
}

    /* Right of the screen header */

/* Structure */
.screen-header-right {
    width: 35%;
    display: flex;
}

/* Skin */
.screen-header-right {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5vh 0vh;
}

    /* ------------------------------------------------------------- */
    /* Screen body */

/* Structure for Screen body */
.screen-body {
    height: 60vh;
}

/* Skin for Screen body */
.screen-body {
    background-color: white;
}

    /* ------------------------------------------------------------- */
    /* Screen bottom */

/* Structure for Screen bottom */
.screen-bottom {

}

/* Skin for Screen bottom */
.screen-bottom {
    background-color: blue;
}