/* Global Code that will be reused in multiple components */

* {
    margin: 0;
    padding: 0;
}
:root {
    --wallpaper: #3457D5;
    --clickable: #A3C1AD;
    --whatsapp-dark: #075E54;
    --icon-color: #FFFFFF;
}

/* Page Structure */
.page-container {
    height: 100vh;
    width: 100%;
}

/* Page Skin */
.page-container {
    background-color: var(--wallpaper);
}

    /* Button Container */

/* Structure */
.btn-container {
    height: 50vh;
    width: 50%;
    margin: 25vh 25vw;
    position: absolute;
}

/* Skin */
.btn-container {
    background-color: var(--clickable);
    border: .5rem solid black;
    font-weight: bold;
}

    /* Screen Container */

/* Structure */
.screen-container {
    height: 80vh;
    width: 50%;
    margin: 10vh 25vw;
    position: absolute;
}

/* Skin */
.screen-container {
    background-color: var(--clickable);
    border: .5rem solid black;
}




/* States, might have to go in another CSS file */
.emoji-button-icon:hover, .camera-container:hover, .arrow-left:hover, .phone-icon:hover, .paper-clip-icon:hover, .drop-down-icon:hover,
.screen-bottom-right:hover {
    color: purple;
    cursor: pointer;
}