/* Global Code that will be reused in multiple components */

* {
    margin: 0;
    padding: 0;
}
:root {
    --wallpaper: #3457D5;
    --clickable: #A3C1AD;
    --whatsapp-dark: #075E54;
}

/* To style the layout of the modules on the page
thereby creating a template */

/* Structure */
.page-container {
    height: 100vh;
    width: 100%;
}

/* Skin */
.page-container {
    background-color: var(--wallpaper);
}
