/* To style the layout of the modules on the page
thereby creating a template */

/* Structure */
.btn-container {
    height: 100vh;
    width: 100%;
}

/* Skin */
.btn-container {
    background-color: var(--wallpaper);
}